@import url(https://fonts.googleapis.com/css?family=Vidaloka);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=BenchNine:400,300);

body {
	background-image: url("../images/brooklynwaterworkoutEDITED.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(240,240,240);

}

h1 {
	font-family: "Raleway", Serif;
	font-weight: normal;
	font-size: 80px;
	color: rgb(255,255,255);
	text-align: left;
	margin-top: 145px;
	margin-bottom: 0px;
}

#slogan {
	font-family: "BenchNine", Sans;
	font-weight: normal;
	font-size: 36px;
	color: rgb(255,255,255);
	text-align: left;
	width: 50%;
	margin-top: -6px;
	margin-left: 10px;
	letter-spacing: 1.5px;

}

li {
	float: left;
	margin-top: 800px;
	margin: 30px;
	font-family: "BenchNine", Sans;
    font-size: 45px;
    border-width: 6px;
    border-color: black;
    list-style: none;
    text-align: center;
}

#contact {
	font-family: "Lucida Grande", Sans;
	font-weight: normal;
	font-size: 12px;
	color: rgb (255,185,110);
}
